/* header */
.header-inner {
    box-sizing: border-box;
}
.header-top-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 132px;
    border:  solid;
    border-color: #ACACAC;
    border-width: 0px 0px 1px 0px;
}
.header-logo {
    margin: 0 auto;
    padding-top: 30px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
.contact-links {
    display: flex;
    gap: 22px; 
    justify-content: center;
    margin-top: 18px;
}
.contact-links a {
    opacity: 1;
    color: black;
    font-size: 12px;
    transition: opacity 200ms ease;
}
.contact-links a:hover {
    opacity: 0.7;
    transition: opacity 200ms ease;
}
.search-wrap {
    position: absolute;
    top: 31px;
    right: 47px;
    width: 200px;
    height: 40px;
}
.l-header-search {
    width: 100%;
    height: 100%;
    padding: 3px;
    font-size: 16px;
    border: 1px solid #ACACAC;
    border-radius: 2px;
}
.search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
}
.search-wrap::after {
    position: absolute;
    top: 11px;
    right: 14px;
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    background-image: url(https://h2o.yellowmobile.jp/makeshop/img/common/ico_search@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
}
.header_tagline {
    position: relative;
    width: 100vw;
    height: 130px;
}
.title-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.site_name {
    color: black;
    font-size: 24px;
    padding-bottom: 10px;
}
.title-wrap p {
    bottom: 0;
}
.header_bottom-nav {
    position: relative;
    height: 202px;
    width: 100vw;
    background-color: #fff9cc;
}
.category-nav {
    position: relative;
    height: 101px;
    width: calc(100% - 260px);
    max-width: 1030px;
    margin: 0 auto;
}
.category-title {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom:14px;
}
.category-list {
    display: flex;
    position: relative;
    height: 100%;
    list-style: none;
}
.category-item {
    position: relative;
    flex: 1;
    height: 100%;
    z-index: 11;
    border-radius: 5px;
    background-color: #ffe100;
    border-radius: 5px;
    transition: all 200ms ease;
}
.category-item:not(:nth-child(1)) {
    margin-left: 4px;
}
.item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}
.category-item:hover {
    z-index: 11;
    background-color: #fff07c;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 200ms ease;
}
.category-item:hover .item-link {
    transform: scale(1.04);
    transition: all 0.2s ease;
}
.icon-box {
    display: flex;
    align-items: last baseline;    
    justify-content: center;
    height: 50px;
    width: 100%;
}
.icon-box img {
    max-height: 100%;
    width: auto;
}
.item-link p {
    margin-top: 5px;
    font-size: 14px;
    color: black;
}
.category-item:nth-child(4) .item-link .icon-box img {
    transform: translateY(-1px);
}
.category-item:nth-child(6) .item-link .icon-box img {
    transform: translateY(-1px);
}
.sub-tab {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffe100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.2s ease;
}
.category-item:hover .sub-tab {
    opacity: 1;
    background-color: #fff07c;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.2s ease;
    
}
.sub-list {
    list-style: none;
    text-align: center;
}
.sub-list li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: all 0.2s ease;
}
.sub-list li:hover {
    background-color: #ffe100;
    color: #000;
    transition: all 0.2s ease;
}
.sub-list li:hover a {
    transform: scale(1.04);
    transition: all 0.2s ease;
}
/* header */

/* main */
section {
    position: relative;
    display: block;
}
.sec_top_A {
    padding-top: 47px;
    padding-bottom: 55px;
}
.wrap {
    position: relative;
    width: calc(100% - 260px);
    max-width: 1030px;
    margin: 0 auto;
}
.slider {
    border-width: 1px 1px 1px 0.5px;
    border-style: solid;
    border-color: #ACACAC;
}
.slider .slick-slide {
    height: 559px; 
}

/* slider dots */
.header-post-slider .slick-dots {
    bottom: -55px; 
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    margin: 0 7px !important;
}
.slick-dots li button:before {
    content: "" !important; /* デフォルトの「・」を消す */
    width: 14px !important;
    height: 14px !important;
    background: #ccc; /* 通常時の色 */
    border-radius: 50%; /* 丸くする */
    opacity: 1; /* 透明度を1にする */
}
.slick-dots li.slick-active button:before {
    background: #000; /* アクティブ時の色 */
}
/* slider dots */

.post-card {
    height: 559px;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px;
    border-left: 0;
    border-style: solid;
    border-color: #ACACAC;
    margin-right: -0.5px;
    display: flex;
    flex-direction: column;
}
.card-image img {
    width: 100%;
    height: 343px;             /* 高さを343pxで固定 */
    object-fit: cover;         /* 比率を維持して切り抜き */
    display: block;            /* 下の隙間を消す */
}

/* テキスト部分の余白と装飾 */
.card-content {
    padding: 25px;             /* 枠の内側の余白 */
    text-align: left;
}
.tag {
    display: inline-block;
    padding: 2px 8px;
    background-color: #fff9cc;
    margin: 0 0 22px 0;
}
.tag a {
    font-size: 14px;
    color: #f4a000;
    text-decoration: none;
}
.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 22px 0;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.card-date {
    font-size: 14px;
    color: #ACACAC;
    margin: 0;
}
header-post-slider .slick-dots {
    bottom: -50px !important;
}
.slider .slick-slide:last-child .post-card {
    border-right: none;
}
/* テキスト部分の余白と装飾 */