@use "variables" as *;



.flex-container {
    display: flex;
    gap: 50px;
    align-items: flex-start; // 中身の高さが違っても上に揃える
    @media screen and (max-width: 1000px) {
        gap: 30px;
    }
}

.category-title-wrap {
    position: relative;
    display: flex;
    margin-bottom: 46px;
    &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 14px;
            background-color: $color-main;
            z-index: -1;
    }
}
.page-title {
    font-weight: 500;
    font-size: 24px;
    padding-left: 79px;
}
.airplane-image {
    position: absolute;
    left: 7px;
    top: -3px;
    height: 45px;
    width: 62px;
}
.sec_top_C {
    flex: 1;
}


/* sidebar */
.sidebar-wrap {
    width: 260px;
    @media screen and (max-width: 1000px) {
        width: 240px;
    }
}
.sidebar-inner {
    margin-top: 21px;
    text-align: center;
    border: 1px solid $color-border;
    border-radius: 2px;
}
.sidebar-inner2 {
    margin-top: 40px;
    text-align: center;
    border: 1px solid $color-border;
    border-radius: 2px;
}
.sidebar-title {
        font-size: 14px;
        font-weight: 500;
        padding: 17px 0;
        margin: 0 14px;   
    }
.sidebar-list {
    list-style: none;
    justify-content: center;
    margin: 0 14px;
}
.sidebar-item {
    padding:18px 0;
    border-top: 1px solid $color-border;
    a {
        text-decoration: none;
        display: flex;
        gap: 12px;
        transition: opacity 0.2s ease;
        &:hover{ opacity: 0.8;
                 transition: opacity 0.2s ease;
        }
    }   
    img {
        width: 105px;
        height: 70px;
    }
    p {
        color: black;
        height: 74px;
        font-size: 12px;
        font-weight: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}