@use "variables" as *;

.full-width-line {
    width: 100%;
    @media screen and (max-width: 1100px) {
        border-top: 1px solid $color-border;
    }
}
.breadcrumb {
  margin: 16px 0 50px;
  padding: 0;
  list-style: none;
  @media screen and (max-width: 800px) { margin: 8px 0 36px; }
  li {
    display: inline;
    font-weight: normal;
    &:after {
        content: ">";
        padding: 0 0.2em;
        color: #727272;
    }
    &:last-child:after {
        content: "";
    }
    a {
        font-size: 14px;
        text-decoration: none;
        color: #727272;
        transition: all 0.3s ease;
        @media screen and (max-width: 800px) { font-size: 12px; }
        &:hover {
         text-decoration: underline;
         transition: all 0.3s ease;
        }
    }
  }
}

.flex-container {
    display: flex;
    gap: 40px;
    align-items: flex-start; // 中身の高さが違っても上に揃える
    @media screen and (max-width: 1000px) {
        gap: 30px;
    }
}

.category-title-wrap {
    position: relative;
    display: flex;
    margin-bottom: 46px;
    @media screen and (max-width: 800px) {
        margin-bottom: 20px;
    }
    &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 14px;
            background-color: $color-main;
            z-index: -1;
            @media screen and (max-width: 800px) {
                height: 10px;
                width: 100vw;
                left: 50%;
                transform: translateX(-50%);
        }
    }
}
.page-title {
    font-weight: 500;
    font-size: 24px;
    padding-left: 79px;
    @media screen and (max-width: 800px) {
        font-size: 20px;
        padding-left: 60px;
    }
}
.icon-image {
    position: absolute;
    left: 7px;
    top: -3px;
    height: 45px;
    width: 62px;
    @media screen and (max-width: 800px) {
        top: 0;
        height: 33px;
        width: 47px;
    }
}
.sec_top_C {
    flex: 1;
}
.button {
    &[id^="d_"], &[id^="e_"], &[id^="f_"] { 
        background-color: $color-bg-light; 
        &.active { background-color: $color-main; } 
    }
}
.screen {
    .d_screen, .e_screen, .f_screen {
        width: 100%;
        display: none;
        background-color: white;
        transition: opacity 0.5s ease;
        &.active { display: block !important;
                   pointer-events: auto;
        }
    }
}
.c-fontsize {
    font-size: 14px;
    @media screen and (max-width: 1100px) {
        font-size: 13px;
    }
}



/* sidebar */
.sidebar-wrap {
    width: 260px;
    @media screen and (max-width: 1000px) {
        width: 240px;
    }
    @media screen and (max-width: 800px) {
        display: none;
    }
}
.sidebar-inner {
    margin-top: 21px;
    text-align: center;
    border: 1px solid $color-border;
    border-radius: 2px;
}
.sidebar-inner2 {
    margin-top: 40px;
    text-align: center;
    border: 1px solid $color-border;
    border-radius: 2px;
}
.sidebar-title {
        font-size: 14px;
        font-weight: 500;
        padding: 17px 0;
        margin: 0 14px;   
    }
.sidebar-list {
    list-style: none;
    justify-content: center;
    margin: 0 14px;
}
.sidebar-item {
    padding:18px 0;
    border-top: 1px solid $color-border;
    a {
        text-decoration: none;
        display: flex;
        gap: 12px;
        transition: opacity 0.2s ease;
        &:hover{ opacity: 0.8;
                 transition: opacity 0.2s ease;
        }
    }   
    img {
        width: 105px;
        height: 70px;
    }
    p {
        color: black;
        height: 74px;
        font-size: 12px;
        font-weight: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}