@use "variables" as *;

/* -------------------------------------------
  Header Styles
------------------------------------------- */
.header-inner {
    box-sizing: border-box;
}

.header-top-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 30px 0 24px;
    color: black;
    img {
        height: 150px;
        @media screen and (max-width: 800px) {
            height: 100px;
        }
    }

    @media screen and (max-width: 800px) {
        padding: 22px 0 18px;
    }
    p {
        font-size: 14px;
        font-weight: 500;
        @media screen and (max-width: 800px) {
        font-size: 10px;
    }
    }
}
.header-site-title {
    font-size: 18px;
    padding-bottom: 3px;
    @media screen and (max-width: 800px) {
        font-size: 12px;
    }
}
.header img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.contact-links {
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-top: 18px;

    @media screen and (max-width: 800px) {
        display: none;
    }

    a {
        opacity: 1;
        color: black;
        font-size: 12px;
        transition: opacity 200ms ease;

        &:hover {
            opacity: 0.7;
        }
    }
}

/* Search */
.search-wrap {
    position: absolute;
    top: 31px;
    right: 47px;
    width: 200px;
    height: 40px;
    border: 1px solid $color-border;
    border-radius: 2px;

    @media screen and (max-width: 1100px) {
        display: none;
    }

    &::after {
        position: absolute;
        top: 11px;
        right: 14px;
        display: block;
        width: 15px;
        height: 15px;
        content: "";
        background-image: url(https://h2o.yellowmobile.jp/makeshop/img/common/ico_search@2x.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px;
    }
}

.l-header-search {
    width: 100%;
    height: 100%;
    padding: 3px;
    font-size: 16px;
}

.search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
}

/* Title Bar */
.header-title-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: auto;
    @media screen and (max-width: 1100px) {
        width: 100%;
        z-index: 999;
    }
    .hum-back {
        display: none;
        background-color: white;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin: 20px 20.5px 0;      
        @media screen and (max-width: 800px) {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            margin: 15px 20.5px 0;
        }
    }
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        animation: slideDown 0.3s ease-out;
        .hum-back {
            display: block;
        }
    }
}


/* -------------------------------------------
  Category Navigation
------------------------------------------- */
.header_bottom-nav {
    height: 190px;
    width: 100vw;
    background-color: $color-bg-light;
    position: sticky;
    top: -50px;
    z-index: 100;
    transition: box-shadow 0.3s ease;

    &.is-sticky {
        box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 1100px) {
        display: none;
    }
}

.category-nav {
    position: relative;
    height: 101px;
    width: calc(100% - 260px);
    max-width: 1030px;
    margin: 0 auto;
}

.category-title {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 14px;
}

.category-list {
    display: flex;
    position: relative;
    height: 100%;
    list-style: none;
}

.category-item {
    position: relative;
    flex: 1;
    height: 100%;
    z-index: 11;
    background-color: $color-main;
    border-radius: 5px;
    transition: all 200ms ease;

    &:not(:nth-child(1)) {
        margin-left: 4px;
    }

    &:hover {
        z-index: 11;
        background-color: #fff07c;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .item-link {
            transform: scale(1.04);
        }

        .sub-tab {
            opacity: 1;
            background-color: #fff07c;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    transition: all 0.2s ease;

    p {
        margin-top: 5px;
        font-size: 14px;
        color: black;
    }
}

.icon-box {
    display: flex;
    align-items: last baseline;
    justify-content: center;
    height: 50px;
    width: 100%;

    img {
        max-height: 100%;
        width: auto;
    }
}

.category-item:nth-child(6) .item-link .icon-box img {
    transform: translateY(-1px);
}

.sub-tab {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-main;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.2s ease;
}

.sub-list {
    list-style: none;
    text-align: center;

    li {
        &:hover {
            background-color: $color-main;
            color: #000;
            a { transform: scale(1.04); }
        }

        a {
            display: block;
            padding: 12px 20px;
            text-decoration: none;
            color: #333;
            font-size: 14px;
            transition: all 0.2s ease;
        }
    }
}

/* -------------------------------------------
  Mobile Menu & Hamburger
------------------------------------------- */
.menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 375px;
    height: 100%;
    background-color: $color-main;
    color: #333;
    transition: right 0.3s ease;
    box-sizing: border-box;
    z-index: 10;

    @media screen and (max-width: 1100px) {
        display: block;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
    }

    &.open {
        right: 0;
    }

    // Inside Menu Search
    .sidemenu-search-wrap {
        position: relative;
        width: 100%;
        max-width: 321px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        margin: 20px auto 0;

        &::after {
            position: absolute;
            top: 13px;
            right: 20px;
            display: block;
            width: 12px;
            height: 12px;
            content: "";
            background-image: url(https://h2o.yellowmobile.jp/makeshop/img/common/ico_search@2x.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 12px;
        }
    }
}

.l-sidemenu-search {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
}

.sidemenu-search-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 40px;
    height: 40px;
}

.drawer-list {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(255, 255, 255, 0.95);
    transition: 0.3s;
    list-style: none;
    padding: 20px;

    .menu.is-open & {
        right: 0;
    }
}

.sidemenu-list {
    list-style: none;
    padding: 70px 0 0;
    margin: 0;
}

.sidemenu-item {
    border-top: 1px solid $color-bg-light;

    &:nth-child(6) {
        border-bottom: 1px solid $color-bg-light;
    }

    @for $i from 1 through 6 {
        &:nth-child(#{$i}) img {
            $margins: (-100px, -114px, -86px, -142px, -118px, -86px);
            margin-left: nth($margins, $i);
        }
    }
}

.sidemenu-parent {
    display: flex;
    align-items: center;
    position: relative;
}

.sidemenu-link {
    display: flex;
    align-items: center;
    height: 64px;
    flex-grow: 1;
    text-decoration: none;
    color: #000;

    span {
        font-size: 16px;
        font-weight: normal;
        margin-left: 80px;
    }
}

/* Accordion */
.submenu-toggle {
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-plus {
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #000;
    transition: transform 0.3s;

    &::after {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 16px;
        height: 2px;
        background-color: #000;
        transform: rotate(90deg);
        transition: transform 0.3s;
    }

    .has-submenu.is-open &::after {
        transform: rotate(0deg);
    }
}

.submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.submenu-link {
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 78px;
    text-decoration: none;
    color: #000;
    border-top: 1px solid $color-bg-light;
}

/* Hamburger Icon */
.hamburger {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 20;

    @media screen and (max-width: 800px) {
        width: 20px;
        top: 22px;
    }

    span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #333;
        margin: 5px 0;
        transition: 0.4s;

        @media screen and (max-width: 800px) {
            height: 2.5px;
            margin: 4px 0;
        }
    }

    &.active {
        span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
            @media screen and (max-width: 800px) {
                transform: translateY(6.5px) rotate(45deg);
            }
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
            @media screen and (max-width: 800px) {
                transform: translateY(-6.5px) rotate(-45deg);
            }
        }
    }
}

/* SNS & Contact */
.sidemenu-contact-links {
    justify-content: center;
    padding-top: 18px;
    display: flex;
    gap: 20px;

    a {
        font-size: 12px;
        color: #333;
    }
}

.sidemenu-sns {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 29px;
    margin-top: 26px;

    a:hover {
        ion-icon {
            color: #4d4d4d;
        }
    }

    ion-icon {
        font-size: 20px;
        color: black;
        transition: color 0.3s;
    }
}

/* Animations */
@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}