$color-main: #ffe100;
$color-bg-light: #fff9cc;
$color-border: #ACACAC;
$font-path: 'https://gigaplus.makeshop.jp/yemoba4818/YM-articlesaite/font/';

@mixin font-face($weight, $file) {
    @font-face {
        font-family: 'GenJyuuGothic';
        src: url('#{$font-path}#{$file}.ttf') format('truetype');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
@include font-face(bold, 'GenJyuuGothic-Bold');
@include font-face(500, 'GenJyuuGothic-Medium');
@include font-face(normal, 'GenJyuuGothic-P-Normal');
@include font-face(300, 'GenJyuuGothic-Light');

body {
    font-family: 'GenJyuuGothic', sans-serif;
    font-weight: normal;
    color: #333;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box; /* paddingやborderによるサイズ膨張を防止 */
}