@use "variables" as *;

.article-wrap {
    position: relative;
    width: calc(100% - 260px);
    max-width: 700px;
    margin: 0 auto;
    @media screen and (max-width: 1100px){margin: 0 auto; width: 90%; max-width: 700px;}
}
.category-title-wrap {
    margin-bottom: 10px;
}
.page-title {
    padding-left: 17px;
}
.top-category {
    display: inline-block;
    a {
        font-size: 14px;
        color: #f4a000;
        font-weight: 500;
        text-decoration: none;
        transition: opacity 0.2s ease;
        &:hover { opacity: 0.7; }
    }
}
.article-title {
    padding: 14px 0;
    font-size: 20px;
}

.article-share {
    margin: 20px 0;


    .share-list {
        display: flex;
        gap: 5px;
        list-style: none;
        padding: 0;
    }
    .share-item {
        flex: 1;
    }

    .share-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        border-radius: 2px;
        transition: opacity 0.3s;      
        &:hover {
            opacity: 0.8;
        }
        &.is-x { border: 1.5px solid black; }
        &.is-facebook { border: 1.5px solid #465993; }
        &.is-hatenabook { border: 1.5px solid #11AAE0; }
        &.is-line { border: 1.5px solid #06C755; }
        &.is-link { border: 1.5px solid #727272; }
    }
}
.article-main-content {
    img {
        width: 100%;
        padding-bottom: 20px;
    }
}

.post-navigation {
    margin: 0 0 40px;
    display: flex;
    gap: 20px;
    @media screen and (max-width: 800px) {
            flex-direction: column;
            gap: 10px;
        }
    .nav-prev, .nav-next {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px 20px 20px;
        border: 1px solid $color-border;
        border-radius: 2px;
        text-decoration: none;
        color: #727272;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.8;
            transition: opacity 0.3s;
        }
    }
    .nav-label {
        font-size: 11px;
        color: #f4a000; // アクセントカラー
        font-weight: 500;
        margin-bottom: 5px;
    }
    .nav-title {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        display: -webkit-box;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .nav-next {
        .nav-label {
            text-align: right;    
        }
    }
}