.category-title-wrap {
    margin-bottom: 10px;
}
.icon-image {
    position: absolute;
    left: 26px;
    top: -8px;
    height: 48px;
    width: 39px;
    @media screen and (max-width: 800px) {
        top: -2;
        left: 20px;
        height: 35px;
        width: 28px;
    }
}
